/* 
    Document   : class_number
    Created on : Jul 24, 2014, 11:02:31 PM
    Author     : Cao Van Phu
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin: 0px;
    padding: 0px;
}
#wrapper {
    width: 1000px;
    margin: 0px auto;
    border: 0px solid #FFF;
    background-color: white;
    font-size: 13px;
}
div#left{
    float: left;
    width: 70%;
    margin-top: 10px;
}
div.head_week{
    font-weight: bold;
    margin: 0px 20px;
    padding-top: 6px;
}
div.week{
    width: 510px;
    float: left;
}
div.teacher{
    width: 520px;
    float: left;
}
table#form_teacher th{
    width: 20px;
    padding: 3px 0px;
    font-size: 13px;
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
    font-weight: normal;
    min-width: 60px;
}
table#form_teacher td{
    width: 60px;
    height: 33px;
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
    font-size: 13px;
}
div.checker span.checked {
    background-position: 0px -22px !important;
}
div.checker{
    margin: 5px 0px;
    padding-left: 15px;
    /*padding-top: 8px;*/
}
div.radio{
    margin: 2px 0px;
}
div#right{
    width: 30%;
    margin-left: 70%;
    padding-left: 20px;
    height: 590px;
}
div.cal_right{
    padding: 10px 0px;
}
input.c_confirm{
    margin-top: 60px;
    margin-left: 80px;
    width: 100px;
}