/* 
    Document   : class_number
    Created on : Jul 24, 2014, 11:02:31 PM
    Author     : Cao Van Phu
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin: 0px;
    padding: 0px;
}
#wrapper {
    width: 1000px;
    height: 675px;
    margin: 0px auto;
    border: 1px solid #c9c9c9;
    background-color: white;
    font-size: 13px;
    margin-top: 5px;
}
div.left{
    float: left;
    width: 70%;
    margin-left: 20px;
}
div.head_week{
    font-weight: bold;
    margin: 0px 10px;
    padding-top: 10px;
    margin-bottom: -15px;
}
div.week{
    width: 362px;
    float: left;
    margin-top: -12px;
    display: none;
}
div.teacher{
    width: 520px;
    float: left;
    margin-left: 15px;
}
table#form_teacher th{
    width: 20px;
    padding: 3px 0px;
    font-size: 13px;
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
    font-weight: normal;
    min-width: 60px;
}
th.check_all{
    cursor: pointer;
}
table#form_teacher td{
    width: 60px;
    /* height: 53px; */
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
    font-size: 13px;
}
div.checker span.checked {
    background-position: 0px -22px !important;
}
div.checker{
    margin: 5px 0px;
    padding-left: 15px;
    /*padding-top: 8px;*/
}
div.radio{
    margin: 2px 0px;
}
div.right{
    width: 26%;
    height: 500px;
    float: right;
}
div.cal_right{
    padding: 3px 0px;
}
input.sub_form_teacher{
    margin-top: -230px;
    margin-left: 49px;
    width: 100px;
}
div.text_topica{
    margin-top: -18px;
    margin-left: 30px;
}
