body,html{
    background: #ecf0f1;
    min-width: 780px;
    overflow-x: scroll;
}
.bgwhite{
    background-color: #fff;
}

.modal_content [class*="span"]{
    margin: 0;
    padding: 0;
    width: 100%;
}

.widget-title .actions_content{
    position: absolute;
    top: 12px;
    right: 40px;
}
div.dataTables_length label{
    white-space: nowrap;
}
div.dataTables_length label > * {
    display: inline-block;
}
div.dataTables_length label .select2-container {
    margin-bottom: 0px;
}
.stip_change li{
    float:left;
    margin-left: 5px;
    list-style: none;
    padding: 10px;
    background: #eee;
}
.active{
    color: red;
}
div.dataTables_filter label {
    margin-bottom: 0px;
}
div.dataTables_filter label input {
    margin-bottom: 0px;
}

#content .row-fluid.no-magin{
    margin: 0px;
}
div.dataTables_info {
    padding-top: 0px;
}
.action{
    white-space: nowrap;
}

.action .detail, 
.action .edit,
.action .delete{
    height: 23px;
    width: 23px;
    
    display: inline-block;
    text-decoration: none;
    color: #999;
    cursor: pointer;
    margin: 0;
    text-align: center;
    line-height: 24px;
}
#dataTable_length,#dataTable_info{
            padding-left: 13px;
}
.wrap_filter{
  margin: 21px 0px 13px 0px;
}
#dataTable_filter input{
    width:140px;
    border-radius: 4px;
}
#dataTable_filter{
    padding-right: 10px;
}
.action .detail:hover, 
.action .edit:hover,
.action .delete:hover{
    background-color: #eee;
    color: #666;
}

.table-bordered thead:first-child tr:first-child th:first-child{
    width: 1%;
    padding-right: 16px;
}

.table-bordered thead:first-child tr:first-child th[field_name='custom_check'],
.table-bordered thead:first-child tr:first-child th[field_name='custom_action']{
    background: none;
    cursor: default;
}

.table-bordered thead:first-child tr:first-child th[field_name='custom_action']{
    width: 1%;
}


.table-bordered thead:first-child tr:first-child th[field_name='custom_check']{
    width: 1%;
    padding: 8px;
}

.hide {
    display: none;
}

input.changer_number_record{
    width: 52px;
    margin-bottom: 0px;
    text-align: center;
    height: 27px;
    border-radius: 5px;
        margin: 0 4px;
}
.no_record {
    text-align: center;
  
    padding: 20px 0px 20px;
    
    border-top: none;
    font-size: 16px;
}
#i_table_list_package,#i_table_list_package_bought{
     margin-bottom: 14px;
}
#i_table_list_package th,#i_table_list_package_bought th{    
    border-right: none;
    border-bottom: none;
}
#i_table_list_package td,#i_table_list_package_bought td{    
    border-right: none;
    border-bottom: none;
       
}
#i_table_list_package_bought form{
    margin-bottom: 0;
        text-align: center;
}
.style_button{
    padding: 2px 10px;
    background: #0a9d59;
    border: none;
}
.no-result{
    padding: 2px 0 0 5px;
}
.modal_content input,
.modal_content textarea,
.modal_content .uneditable-input {
    width: 100%;
    min-width: 300px;
}

.modal_content input[type='checkbox']{
    width: auto;
    min-width: 0px;
}

.modal_content form{
    margin: 0;
}

body.modal-open{
    overflow: hidden;
}

.recent_edit,
.table-striped tbody > tr.recent_edit > td,
.table-striped tbody > tr.recent_edit > th{
    background: #F4FF6F;
}

.ui-datepicker{
    z-index: 1061 !important;
}
#sidebar::after{
    top: 0px !important;
    border-right:none;
    background: none;
}
#sidebar{
 float: left;
    margin-top: 60px !important;
    width: 220px;
    height: 100%;
    background-color: #34495e;
    position: fixed;
  
}
#sidebar.isCollapse{
    margin-left: 0px;
    margin-top: 60px !important;
        z-index: 10;
}
#sidebar.isCollapse.hided{
/*    margin-left: -300px;*/
}
#sidebar .side-options{
    width: 220px;
    display: none;
}
#content.offCanvas{
    margin-left: 0px;
}
.container-fluid .widget{
    margin-top: 20px;
}
#content .wrapper{
    width: 99%;
    margin-top: 60px;
}
#content .container-fluid{
    padding: 0 !important;
}
#content.hided .wrapper, #content.isCollapse .wrapper{
    /*margin-top: 0px;*/
}
#mainnav .nav-list > li.current > a{
    background: #243342;
    color: #e3e3e3;
}
#mainnav .nav-list > li > a .icon::before{
    box-shadow: none;
}
#mainnav .nav-list > li > a .icon::after{
    box-shadow: none;
}
#mainnav .nav-list > li > a .icon{
    border: none;
    color: #FFF;
}
#mainnav .nav-list > li > a{
    background: none;
    color: #FFF;
}
#mainnav .nav-list > li:hover > a{
    background: #243342;
}
#mainnav .nav-list > li:first-child{
/*    border-top: 1px solid #243342;*/
}
#mainnav .nav-list > li{
    border-bottom: 1px solid #243342;
}
#mainnav .nav-list > li.current > a .icon{
    background: none;
}
#mainnav .nav-list > li > .sub, #mainnav .nav-list > li > .sub > li .sub{
    background: none;
}
#mainnav .nav-list > li > .sub li a{
    color: #FFF;
}
#mainnav .nav-list > li > .sub li:hover{
    background: #243342;
    border: none;
}
#mainnav .nav-list > li > .sub, #mainnav .nav-list > li > .sub > li .sub{
    border-top: 1px solid #243342;
}
#sidebar.isCollapse .nav-list > li:hover > a .txt{
    background: #243342;
}
#header{
    background-color: #FFF;
    height: 88px;
    background: #fff url(../../../static/images/home/logo.png) no-repeat left !important;
    background-repeat: no-repeat;
    background-position: left;
/*    background-size: 220px 59px;*/
}
#header .navbar-inner{
    background: none;
    box-shadow: none;
    border-color: #ccc;
}
.conference{
    background-color: #FFF;
}
.main_content > .conference{
         margin-top: 20px;
    /* border: 1px solid #ededed; */
    margin-left: 14px;
    height: 45px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-left: 4px solid #0a9d59;
}
.main_content > .conference:first-child h3{
    color: #0A9D59;
    
}
#wizard{
    margin-left: 14px;
    width: 99%;
}
.conference > h3{
    text-transform: uppercase;
       padding: 9px 0 0px 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #2c3e50;
      font-size: 12pt;
    font-weight: normal;
}
.span12.main_content .subject{
         margin-top: 10px;
    margin-left: 0;
}
.table th, .table td{
    border-top: 1px solid #ededed;
}
table.use_datatable tr th:first-child{
    width: 70px;
    background-color: #25bf75;
}
table.use_datatable thead{
    border-top: 1px solid #ededed;
    border-left: none;
    border-right: none;
}
table.use_datatable tbody{
    border-bottom: 1px solid #ededed;
    border-left: none;
    border-right: none;
}
table.use_datatable th,use_datatable.table td{
    border-top: 1px solid #ededed;
    box-shadow: none;
}
.info_data{
    float: right;
    margin-top: 30px;
}
#mainnav .nav-list > li.current > .sub li.current a{
    background: none;
}
#mainnav .nav-list > li.current > .sub li.current{
    border-bottom: none;
    border-top: 1px solid;
}
#sidebar.isCollapse .nav-list > li:hover > ul.sub, #sidebar.isCollapse .nav-list > li > ul.sub > li:hover > ul.sub{
    background-color: #34495E;
}
#resBtnSearch{
    display: none;
}
#header{
    height: 60px;
    position: fixed;
}
#header .navbar-inner{
    height: 61px;
    border: none;
    border-bottom: 1px solid #dadcdc;
        /*margin-left: 220px;*/
        background: #fff;
}
.widget .widget-title{
    background: #FFF;
    box-shadow: none;
    border-bottom: none;
}
.widget .widget-title h4{
    color: #0A9D59;
}
.widget .widget-title .icon{
    border-right: none;
}
.widget .widget-title .icon i{
    border-right: none;
    color: #0A9D59;
}
.widget .widget-title .icon::before{
    box-shadow: none;
}
.widget .widget-title .icon::after{
    box-shadow: none;
}
.widget .widget-title .maximize::after{
    border-color: #cdcdcd transparent transparent;
}
.widget .widget-title .minimize::after{
    border-color: transparent transparent #cdcdcd;
}
.table thead, .table tfoot, .table tbody tr th{
       background: none;
    color: #586470;
        font-weight: bold;
}
.table th, .table td{
    box-shadow: none;
       
}
input[type="text"]{
    background: none;
}
.datatable_agenda td{
       padding: 14px;
}
.table_agenda thead td{
    padding: 5px 14px;
}
.widget{
    background: none;
    border: none;
    box-shadow: none;
}
.widget .widget-content{
    background-color: #fff;
    margin-top: 20px;
    border: 1px solid #ededed;
}
.nav-no-collapse{
   
}
#footer{
/*    width: 100%;
    height: 40px;
    background-color: #0A9D59;
    bottom: 0px;
    position: relative;*/
}
.list_room h2{
       background-color: #FFF;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 42px;
    font-weight: normal;
    color: #445261;
    font-size: 17px;
}
.nav-no-collapse ul.nav.pull-right{
  
}
#header .dropdown.open .dropdown-toggle{
    background: none;
    padding-bottom: 15px;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle{
    background: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle{
    background: none;
}
#header .nav a:hover{
    background: none;
}
#header .dropdown-menu{
   background: transparent url(../images/profile_bg.png) no-repeat left !important;
       border: none;
           height: 73px;
}
#header .dropdown-menu li a{
    padding: 5px;
}
.dropdown-menu > li > a{
    border: none;
    padding: 0px;   
}
.dropdown.user .dropdown-menu{
    min-width: 130px;
}
.dropdown-toggle.avatar{
    padding-bottom: 10px ;
}
#header .dropdown.user .user-name{
    color: #0A9D59;
    padding-left: 5px;
        margin-top: 20px;
    float: right;
        text-align: right;
        color: #2c3e50;
}
#header .dropdown-menu{
    left: 37px;
        width: 114px;
            min-width: 100px;
            padding: 8px 3px;
                box-shadow: none;
}
#header .dropdown-menu li{
    background: #fff none repeat scroll 0 0;
        height: 30px;
}
#header .dropdown-menu li a,#header .dropdown-menu li a > i{
    color: #666666;
}
#header .dropdown-menu li a:hover{
    background: #ecf0f1 none repeat scroll 0 0 !important;
    color: #666666;
}
#header .dropdown-menu li a:hover i{
    color: #FFF;
}
.i-user-cus {
    background: url(../images/default_avatar.png) no-repeat center;
    height: 16px;
    width: 16px;
    border-radius: 10px;
    border: 1px solid #109f5d;
}
.i-exit-cus {
    background: url(../images/logout_bg.png) no-repeat center;
    height: 16px;
    width: 16px;
}
@media only screen and (max-width: 1024px) {

    #wizard {
      margin-left: 63px;
      width: 93%;
    }
/*    .main_content > .conference {
      margin-left: 63px;
          width: 93%;
    }*/
}