/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 7, 2015, 11:31:27 PM
    Author     : Tùng Arsenal
*/
.profile_main{
    margin-top: 20px;
    background-color: #FFF;
}
.profile_main .action_form button{
    margin-left: 20px;
}
.profile_main .row-fluid{
    margin-bottom: 0px !important;
}
.profile_main .row-fluid p{
    padding: 20px;
}
.profile_main .row-fluid input{
    margin-top: 12px;
    border: none;
    border-bottom: 1px solid rgba(204,204,204,0.8);
    box-shadow: none;
}
/*.profile_main .row-fluid input:focus{
    border: 1px solid rgba(204,204,204,0.8);
}*/
.profile_main .row-fluid input[type='email']{
    background: none;
}
