/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2015, 8:09:25 PM
    Author     : Tùng Arsenal
*/
.joined{
    background-image: url(../../images/use_log/icon-good.png);
    background-repeat: no-repeat;
    text-align: center;
}
.unjoin{
    background-image: url(../../images/use_log/icon-bad.png);
    background-repeat: no-repeat;
    text-align: center;
}
.joined span,.unjoin span{
    padding-left: 20px;
}
